<ng-container #tileCounter>
    <!-- caption -->
    <div class="tile-container">
      <div class="tile-header">Counter</div>
    </div>
    <!-- content -->
    <div class="tile-content">
      <div>
        <p>This is a simple example of an Angular component.</p>
      </div>
      <div>
        <p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>
        <button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
      </div>
    </div>
  </ng-container>
