<h3>Employees</h3>
<div class="form-group">
    <div class="form-group">
        <label for="cmbJobId">JOB_ID:</label>
        <wj-combo-box #cmbJobId id="cmbJobId" 
            [itemsSource]="jobIdList"
            [(text)]="jobId"
        ></wj-combo-box>
    </div>
    <div class="form-group">
        <label for="autoFirstName">FIRST_NAME:</label>
        <wj-auto-complete #theAutoComplete id="autoFirstName" 
            [placeholder]="'FIRST_NAME'" 
            [displayMemberPath]="'masterValue'"
            [itemsSourceFunction]="getFirstNameBySearch">
        </wj-auto-complete>
    </div>

    <div>
        <input type="button" value="searchSync" (click)="searchSync()" />
        <input type="button" value="searchASync" (click)="searchASync()" />
    </div>
</div>
<div class="container-fluid">
    <p [innerHTML]="selectedItem"></p>
    <!-- the grid -->
    <wj-flex-grid #flex
        [itemsSource]="employees" 
        (initialized)="flexInitialized(flex)">
        <wj-flex-grid-column [header]="'EMPLOYEE_ID'" [binding]="'employeeId'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'FIRST_NAME'" [binding]="'firstName'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'LAST_NAME'" [binding]="'lastName'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'EMAIL'" [binding]="'email'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'PHONE_NUMBER'" [binding]="'phoneNumber'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'HIRE_DATE'" [binding]="'hireDate'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'JOB_ID'" [binding]="'jobId'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'SALARY'" [binding]="'salary'" width="2*"></wj-flex-grid-column>
    </wj-flex-grid>
</div>