<h3>Sakila</h3>
<div class="form-group">
    <mat-form-field appearance="legacy">
        <mat-label>Search keyword</mat-label>
        <input matInput placeholder="keyword">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <button mat-button color="primary" (click)="searchActor()">
        <mat-icon>search</mat-icon>
    </button>
</div>
<div class="container-fluid">
    <wj-flex-grid #flex
        [itemsSource]="actors" 
        (initialized)="flexInitialized(flex)">
        <wj-flex-grid-column [header]="'actor_id'" [binding]="'actor_id'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'first_name'" [binding]="'first_name'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'last_name'" [binding]="'last_name'" width="2*"></wj-flex-grid-column>
        <wj-flex-grid-column [header]="'last_update'" [binding]="'last_update'" width="2*"></wj-flex-grid-column>
    </wj-flex-grid>
</div>